{% load i18n %}
{% load url from future %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}

<section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="{{ user.profile.get_mugshot_url }}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>{{ user.username }}</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
          <!-- search form -->
          <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li>
              <a href="{% url 'home' %}">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span></i>
              </a>              
            </li>            
            
            <li class="treeview">
              <a href="#">
                <i class="fa fa-user"></i>
                <span>Users</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                {% if user.is_authenticated %}<li class="{% if 'accounts/{{ user.username }}' in request.path %}active{% endif %}"><a href="{% url 'userena_profile_detail' user.username %}"><i class="fa fa-circle-o"></i> My Profile</a></li>{% endif %}
                <li><a href="{% url 'userena_profile_list' %}"><i class="fa fa-circle-o"></i> Users List</a></li>                
              </ul>
            </li>            
            <li class="treeview {% if 'messages' in request.path %}active{% endif %}">
              <a href="">
                <i class="fa fa-envelope"></i> <span>Mailbox</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li class="{% if 'inbox' in request.path %}active{% endif %}"><a href="{% url 'messages_inbox' %}"><i class="fa fa-circle-o"></i> {% trans "Inbox" %} <span class="label label-primary pull-right">{{ messages_inbox_count }}</span></a></li>
                <li class="{% if 'compose' in request.path %}active{% endif %}"><a href="{% url 'messages_compose' %}"><i class="fa fa-circle-o"></i> {% trans "New Message" %}</a></li>
                <li class="{% if 'outbox' in request.path %}active{% endif %}"><a href="{% url 'messages_outbox' %}"><i class="fa fa-circle-o"></i> {% trans "Sent Messages" %}</a></li>
                <li class="{% if 'trash' in request.path %}active{% endif %}"><a href="{% url 'messages_trash' %}"><i class="fa fa-circle-o"></i> {% trans "Trash" %}</a></li>
              </ul>
            </li>
            <li class="{% if 'todo' in request.path %}active{% endif %}">
              <a href="{% url 'todo' %}">
                <i class="fa fa-check-square-o"></i> <span>Todo List</span></i>
              </a>              
            </li>             
          </ul>
        </section>
        {% endblock %}