{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}


        {% block extra_head %}
        <link href="{% static "css/projects.css" %}" rel="stylesheet">
            <style>
.ftodo{text-decoration : line-through ; }
textarea{ width: 97%;
padding: 5px;
font-size: 14px;
resize: vertical;}
.checkbox-custom {
    color: #7d7d7d;
    font-size: 1.14em;
    margin-right: 10px;
}
.checkbox-custom-checked {
    color: #4c9628;
    font-size: 1.14em;
    margin-right: 10px;
}
.delete {
    /*color: #7d7d7d;*/
    font-size: 14px;
    padding-left: 5px;
}
.delete:hover{
    color: #c52c2c;
}

</style>
            <script type="text/javascript">
            function sendtwitter(){
                $('#modal-container-750588 form').submit(function(){
                    $.ajax({
                        type: "POST",
                        data: $('#modal-container-750588 form').serialize(),
                        url: "{% url 'add' %}",
                        cache: false,
                        dataType: "html",
                        success: function(html, textStatus) {
                            $('#todo').replaceWith(html);
                            $('#modal-container-750588').modal('hide');   
                            $('#modal-container-750588 form')[0].reset();                   
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            $('#comment_form form').replaceWith('Your comment was unable to be posted at this time.  We apologise for the inconvenience.');
                        }
                    });
                    return false;
                });
            }
            $(document).ready(function(){
                sendtwitter();                
            })
            function hidemodal(){
                $('#modal-container-750588').modal('hide')
            }
        </script>     
        {% endblock %}
        <div id="wrapper">
    {% include "navbar.html" %}
    <div id="page-wrapper">
       <div class="row">
        <div class="col-lg-12">
                <div class="col-lg-9 col-md-offset-2">
                    <div class="col-lg-12">
                        <div class="col-lg-6 pull-left"><h3 class="">To DO</h3></div>
                        <div class="col-lg-6 pull-right">
                            <a id="modal-750588" href="#modal-container-750588" role="button" class="btn btn-success btn-sm pull-right" data-toggle="modal">
                                <i class="fa fa-plus"></i>
                                <span > ADD</span>
                            </a>
                        </div>
                    </div>
                    <hr/>
                    <div id="todo" class="widget widget-primary widget-small">
                    {% block todo %}
                    
                    
                    <table class="table table-hover">
                        <thead>                            
                            <tr>
                                <th>ToDo Name</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for todo in todolist %}
                            {% if todo.priority == '1' %}
                            <tr class='danger'>
                            {% endif %}
                            {% if todo.priority == '2' %}
                            <tr class='warning'>
                            {% endif %}
                            {% if todo.priority == '3' %}
                            <tr class='info'>
                            {% endif %}
                                <td class="todo"><a href="{% url 'finish' todo.id %}" title="finish"><i class="fa fa-check-square-o checkbox-custom"></i></a> {{ todo.todo }}</td>
                                <td> <span class="pull-right">{{ todo.pubtime }}</span> </td>
                                <td class="te">
                                    <div class="col-lg-7 pull-right">
                                        
                                        <a href="{% url 'update' todo.id %}" title="edit"><i class="fa fa-pencil-square-o"></i></a>
                                        <a class="delete" href="{% url 'delete' todo.id %}" title="delete"><i class="fa fa-trash"></i></a>                          
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            {% for ftodo in finishtodos %}
                            <tr class='success'>
                                <td class="ftodo muted"><a href="{% url 'backout' ftodo.id %}" title="finish"><i class="fa fa-check-square-o checkbox-custom-checked"></i></a> {{ ftodo.todo }}</td>
                                <td> <span class="pull-right">{{ ftodo.pubtime }}</span> </td>
                                <td class="te">
                                    <div class="col-lg-7 pull-right">
                                        
                                        <a href="{% url 'update' ftodo.id %}" title="edit"><i class="fa fa-pencil-square-o"></i></a>
                                        <a class="delete" href="{% url 'delete' ftodo.id %}" title="delete"><i class="fa fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                    {% endblock %}
                    </div>
                </div>
            </div>
        </div>
       
     </div>        
       </div>     
            <div class="modal fade" id="modal-container-750588" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">
                                Add Todo
                            </h4>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post">{% csrf_token %}
        <div class="modal-body">
            <textarea name="todo" class="txtodo" id="txtodo" required="required">{{ todo.todo }}</textarea>
            <fieldset>
                <label class="radio inline" for="priority">
                    <span class="label label-info">Priority</span>
                </label>
                <label class="radio inline" for="priority">
                    <input type="radio" name="priority" value="1" required/>
                    <span class="label label-danger">High</span>
                </label>          
                <label class="radio inline" for="priority">
                    <input type="radio" name="priority" value="2"/>
                    <span class="label label-warning">Medium</span>
                </label>          
                <label class="radio inline" for="priority">
                    <input type="radio" name="priority" value="3"/>
                    <span class="label label-success">Low</span>
                </label>
            </fieldset>
        </div>
        <div class="modal-footer">
                             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
                             <button id="send" class="btn btn-success" type="submit" name="submit" OnClick="hidemodal()">Save changes</button>
                        </div>
        </form>
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
       

   {% endblock %}