{% extends "todolist/base.html" %}
{% block page_heading %}{% endblock %}
{% block title %}Add Todo List{% endblock %}

{% block content %}


<form action="{% url 'todo-add_list' %}" method="post">
		{% csrf_token %}
<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add a list:</h4>
      </div>
	
	
		<div class="modal-body">
			<table>{{ form }}</table>
		</div>
	
	<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
</form>	

{% endblock %}