{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}


	<!-- CSS and JavaScript for django-todo -->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}todo/css/styles.css" />

	<script src="{{STATIC_URL}}todo/js/jquery.tablednd_0_5.js" type="text/javascript"></script>


	<script type="text/javascript" src="http://code.jquery.com/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/ui.core.js"></script>
	<link type="text/css" href="{{MEDIA_URL}}js/jquery-ui-1.7.1.custom.css" rel="Stylesheet" />
	<script src="{{MEDIA_URL}}js/ui.datepicker.js" type="text/javascript"></script>

	<script type="text/javascript" charset="utf-8">
	    // thedate.x comes from the edit_task view. If this is a new entry,
	    // thedate won't be present and datepicker will fall back on the default (today).
	    $(document).ready(function(){
	        $('#id_due_date').datepicker({defaultDate: new Date({{thedate.year}}, {{thedate.month}} - 1, {{thedate.day}}),});
	     });
	</script>
