{% extends "todolist/base.html" %}
{% load url from future %}

{% block title %}{{ list_title }} to-do items{% endblock %}

{% block content %}

    {# Only admins can delete lists. #}
    {% ifequal can_del 1 %}


        {% if list_killed %}

           <p> {{ list.name }} is gone.</p>

            <a href="{% url 'todo-lists' %}">Return to lists</a>

        {% else %}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete entire list: {{ list.name }} ?</h4>
            </div>
            <div class="modal-body">
                <p>Category tally:</p>

                 <ul>
                    <li>Incomplete: {{ item_count_undone }} </li>
                    <li>Complete: {{ item_count_done }} </li>
                    <li><strong>Total: {{ item_count_total }}</strong> </li>
                 </ul>

                <p class="text-red"> ... all of which will be irretrievably <strong>blown away</strong>. Are you sure you want to do that?</p>

                <form action="{% url 'todo-del_list' list.id list_slug %}" method="post" accept-charset="utf-8">
        		{% csrf_token %}
                    <div class="modal-footer">
                        <a href="{% url 'todo-incomplete_tasks' list.id list_slug %}" type="button" class="btn btn-default">Return to list: {{ list.name }}</a>  
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        <button type="submit" class="btn btn-primary" name="delete-confirm">Do it!</button>
                    </div>
                    <input type="hidden" name="list" value="{{ list.id }}" id="some_name">                 
                </form>
            </div>

            <a href="{% url 'todo-incomplete_tasks' list.id list_slug %}">Return to list: {{ list.name }}</a>

        {% endif %}


    {% else %}

        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete a list:</h4>
      </div>
       
        <div class="modal-body">
            <div class="row">
          
          <div class="alert alert-danger alert-dismissable col-md-12">
            <!-- <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button> -->
            <p>Sorry, you don't have permission to delete lists. Please contact your group administrator.</p>
          </div>
          
        </div>
        </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- <button type="submit" class="btn btn-primary">Save changes</button> -->
      </div>

    {% endifequal %}


{% endblock %}