{% extends "todolist/base.html" %}
{% load url from future %}

{% block title %}{{ list_title }} to-do items{% endblock %}

{% block content %}

    {# Only admins can delete lists. #}
    {% ifequal can_edit 1 %}


        
           <form action="{% url 'todo-edit_list' list.id %}" method="post">
        {% csrf_token %}
<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add a list:</h4>
      </div>
    
    
        <div class="modal-body">
            <table>{{ form }}</table>
        </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
</form> 


    {% else %}

        <p>Sorry, you don't have permission to delete lists. Please contact your group administrator.</p>

    {% endifequal %}


{% endblock %}