{% extends "todolist/base.html" %}
{% load url from future %}

{% block title %}{{ list_title }} Todo Lists{% endblock %}


{% block page_heading %}{% endblock %}

{% load staticfiles %}
{% block content %}  


<link href="{% static "css/custom.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{% static "css/plugins/datatables/dataTables.bootstrap.css" %}">



<div class="wrapper">

      <!-- Main Header -->
      {% include "header.html" %}
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        {% include "left_menu.html" %}
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Todo Lists     
            <small>{{ item_count }} items in {{ list_count }} lists</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Todo List</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
          

    {% regroup list_list by team as section_list %}
<div class="col-md-1">
</div>
   
    <div class="col-md-10">
             
<div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Todo Lists</h3>
                  <div class="box-tools pull-right">
                    <div class="has-feedback">
                      <a href="{% url 'todo-add_list' %}" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Add New List</a>
                    </div>
                  </div>
                </div>
                <div class="box-body no-padding">
                    <div class="box-body">
                  <table class="table table-bordered table-striped table-hover" id="example2">

        <thead>
            <tr>
                <th>List Name</th>
                <th>Team</th>
                <th>Number of tasks</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
          {% for team in section_list %}
            {% for item in team.list %}
                <tr class="odd gradeX">
                    <td><a href="{% url 'todo-incomplete_tasks' item.id item.slug %}">{{ item.name }}</a></td>
                    <td>{{ team.grouper }}</td>
                    <td>({{ item.incomplete_tasks.count }}/{{ item.item_set.count }})</td>
                    <td>
                      <a href="{% url 'todo-del_list' item.id item.slug %}" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</a>
                      <a href="{% url 'todo-edit_list' item.id %}" type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#EditList"><i class="fa fa-edit"></i> Update</a>
                    </td>
                </tr>
            {% endfor %}  
            {% endfor %}                           
        </tbody>
    </table>
  </div>
</div>

</div>
    
      </div>
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      {% include "footer.html" %}

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
          <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Home tab content -->
          <div class="tab-pane active" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Recent Activity</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                    <p>Will be 23 on April 24th</p>
                  </div>
                </a>
              </li>
            </ul><!-- /.control-sidebar-menu -->

            <h3 class="control-sidebar-heading">Tasks Progress</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Custom Template Design
                    <span class="label label-danger pull-right">70%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                  </div>
                </a>
              </li>
            </ul><!-- /.control-sidebar-menu -->

          </div><!-- /.tab-pane -->
          <!-- Stats tab content -->
          <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div><!-- /.tab-pane -->
          <!-- Settings tab content -->
          <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
              <h3 class="control-sidebar-heading">General Settings</h3>
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Report panel usage
                  <input type="checkbox" class="pull-right" checked>
                </label>
                <p>
                  Some information about this general settings option
                </p>
              </div><!-- /.form-group -->
            </form>
          </div><!-- /.tab-pane -->
        </div>
      </aside><!-- /.control-sidebar -->
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
           <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                
              </div>
            </div>
          </div>

          <div class="modal fade" id="EditList" tabindex="-1" role="dialog" aria-labelledby="EditListLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                
              </div>
            </div>
          </div>
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->

<script src="{% static "css/plugins/datatables/jquery.dataTables.min.js" %}"></script>

<script src="{% static "css/plugins/datatables/dataTables.bootstrap.min.js" %}"></script>

<!-- SlimScroll -->
<script src="{% static "css/plugins/slimScroll/jquery.slimscroll.min.js" %}"></script>
<!-- FastClick -->
<script src="{% static "css/plugins/fastclick/fastclick.min.js" %}"></script>



    <!-- Include all compiled plugins (below), or include individual files as needed -->
    
    
    
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
   <script>
    $(function () {        
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true
        });
    });
</script>
{% endblock %}

