{% extends "todolist/base.html" %}
{% load url from future %}
{% load i18n %}
{% load staticfiles %}
{% block title %}Todo List: {{ list.name }}{% endblock %}

{% block content %}
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
    <script type="text/javascript">
    function order_tasks(data) {
        // The JQuery plugin tableDnD provides a serialize() function which provides the re-ordered
        // data in a list. We pass that list as an object called "data" to a Django view
        // to save the re-ordered data into the database.
        $.post("{% url 'todo-reorder_tasks' %}", data, "json");
        return false;
    };
    $(document).ready(function() {
        // Initialise the task table for drag/drop re-ordering
        $("#tasktable").tableDnD();
        $('#tasktable').tableDnD({
            onDrop: function(table, row) {
                order_tasks($.tableDnD.serialize());
            }
        });
        // Initially hide the Add Task form
        $('#AddTask').hide();
        // toggle slide to show the Add Task form when link clicked
        $('#slideToggle').click(function(){
            $(this).siblings('#AddTask').slideToggle();
        });
    });
    </script>


    {% ifequal list_slug "mine" %}
        <h1>Tasks assigned to {{ request.user }}</h1>
    {% else %}
        {% ifequal auth_ok 1 %}
           <h1>Tasks filed under "{{ list.name }}"</h1>
           <p>This list belongs to group {{ list.team }}</p>
        {% endifequal %}
    {% endifequal %}


    {% ifequal auth_ok 1 %}
        <form action="" method="POST">
        {% csrf_token %}

   {# Only show task adder if viewing a proper list #}
   {% ifnotequal list_slug "mine" %}
   <h2 style="margin-bottom:0px;" id="slideToggle" >&rarr; Click to add task &larr;</h2>

   <div id="AddTask">
	    <table class="nocolor" border="0" cellspacing="5" cellpadding="5">
	       <tr>
	           <td>{{ form.title.errors }}</td>
	           <td>{{ form.due_date.errors }}</td>
	       </tr>
	       <tr>
	           <td><label for="id_title">Task:</label> {{ form.title }}</td>
	           <td><label for="id_due_date">Due date:</label> {{ form.due_date }}</td>
	           <td><label for="id_assigned">Assign to:</label> {{ form.assigned_to }}</td>
	           <td><label for="id_notify">Notify*:</label> <input type="checkbox" checked="checked" name="notify" value="1" id="notify"></td>
 	       </tr>
	       <tr>
	           <td><label for="id_note">Note:</label>
                    {{ form.note }}
	               <p class="minor">*Email notifications will only be sent if task is assigned to someone besides yourself.</p>
	           </td>
 	       </tr>
	    

        <tr>
            <label for="id_priority">priority:</label>
            <!-- <input type="text" name="priority" id="id_priority"> -->
            <select name="priority" id="id_priority">
                <option selected="selected" value="">---------</option>
                <option value="1">High</option>
                <option value="2">Medium</option>
                <option value="3">Low</option>
            </select>
        </tr>
        </table>
        <input type="text" name="created_by" value="{{ request.user.id }}" id="id_created_by">
        <input type="text" name="list" value="{{ listid }}" id="id_list">
        <input type="text" name="created_date" value="{{ created_date }}" id="id_created_date">

	    <p><input type="submit" name="add_task" value="Add task" class="todo-button"></p>
    </div>

        {% endifnotequal %}


    {% ifequal view_completed 0  %}

	<h3>Incomplete tasks :: Drag rows to set priorities</h3>

	<table border="0" id="tasktable">
        <tr>
            <th>Done</th>
            <th>Task</th>
            <th>Created</th>
            <th>Due on</th>
            <th>Owner</th>
            <th>Assigned</th>
            <th>Note</th>
            <th>Comm</th>

            {% ifequal list_slug "mine" %}
            <th>List</th>
             {% endifequal %}

            <th>Del</th>
        </tr>
		{% for task in task_list %}
	        <tr id="{{ task.id }}">
	            <td><input type="checkbox" name="mark_done" value="{{ task.id }}" id="mark_done_{{ task.id }}">   </td>
	            <td><a href="{% url 'todo-task_detail' task.id %}">{{ task.title|truncatewords:20 }}</a></td>
	            <td>{{ task.created_date|date:"m/d/Y" }}</td>
	            <td>
	            {% if task.overdue_status %}<span class="overdue">{% endif %}
	                {{ task.due_date|date:"m/d/Y" }}
	            {% if task.overdue_status %}</span>{% endif %}
	            </td>
	            <td>{{ task.created_by }}</td>
	            <td>{{ task.assigned_to }}</td>
	            <td style="text-align:center;">{% if task.note %}&asymp;{% endif %} </td>
	            <td style="text-align:center;">{% ifnotequal task.comment_set.all.count 0  %}{{ task.comment_set.all.count }}{% endifnotequal %}

	            </td>
	            {% ifequal list_slug "mine" %}
                <td><a href="{% url 'todo-incomplete_tasks' task.list.id task.list.slug %}">{{ task.list }}</a></td>
                {% endifequal %}

	            <td><input type="checkbox" name="del_task" value="{{ task.id }}" id="del_task_{{ task.id }}">   </td>
            </tr>
	    {% endfor %}
	</table>
    <p><input type="submit" name="mark_tasks_done" value="Continue..."  class="todo-button"></p>

    <p><a  class="todo" href="{% url 'todo-completed_tasks' list_id list_slug %}">View completed tasks</a></p>
    {% endifequal %}

    {% ifequal view_completed 1 %}
	<h3>Completed tasks</h3>

	<table border="0"  id="tasktable">
        <tr>
            <th>Undo</th>
            <th>Task</th>
            <th>Created</th>
            <th>Completed on</th>
            <th>Note</th>
            <th>Comm</th>
            {% ifequal list_slug "mine" %}
            <th>List</th>
             {% endifequal %}
            <th>Del</th>
        </tr>


		{% for task in completed_list %}
	        <tr>
	            <td><input type="checkbox" name="undo_completed_task" value="{{ task.id }}" id="id_undo_completed_task{{ task.id }}">   </td>
	            <td><a href="{% url 'todo-task_detail' task.id %}">{{ task.title|truncatewords:20 }}</a></td>
	            <td>{{ task.created_date|date:"m/d/Y" }}</td>
	            <td>{{ task.completed_date|date:"m/d/Y" }}</td>
	            <td style="text-align:center;">{% if task.note %}&asymp;{% endif %} </td>
	            <td style="text-align:center;">{% ifnotequal task.comment_set.all.count 0  %}{{ task.comment_set.all.count }}{% endifnotequal %}

	            <td><input type="checkbox" name="del_completed_task" value="{{ task.id }}" id="del_completed_task_{{ task.id }}">   </td>
            </tr>
	    {% endfor %}

	</table>
	<p><input type="submit" name="deldonetasks" value="Continue..."  class="todo-button"></p>
	</form>
    <p><a  class="todo" href="{% url 'todo-incomplete_tasks' list_id list_slug %}">View incomplete tasks</a></p>
    {% endifequal %}

	{% ifequal can_del 1 %}
	{% ifnotequal list_slug "mine" %}
	   <p><a class="todo" href="{% url 'todo-del_list' list_id list_slug %}">Delete this list</a></p>
	{% endifnotequal %}
	{% endifequal %}

    {% endifequal %}
{% endblock %}