{% extends "todolist/base.html" %}
{% load url from future %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}Todo List: {{ list.name }}{% endblock %}

{% block content %}  

<link rel="stylesheet" href="{% static "css/plugins/datatables/dataTables.bootstrap.css" %}">

<link rel="stylesheet" href="{% static "css/plugins/datepicker/datepicker3.css" %}">
    
    <div class="wrapper">

      <!-- Main Header -->
      {% include "header.html" %}
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        {% include "left_menu.html" %}
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            {% ifequal list_slug "mine" %}
                <h1>Tasks assigned to you <small>{{ request.user }}</small></h1>
            {% else %}
                {% ifequal auth_ok 1 %}
                   <h1>
                    Tasks filed under "{{ list.name }}" List     
                    <small>This list belongs to team <b>{{ list.team }}</b></small>
                  </h1>
                {% endifequal %}
            {% endifequal %}

          
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Todo list</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            {% if messages %}
              {% for message in messages %}
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="alert alert-{{ message.tags }} alert-dismissable col-md-6">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ message }}
                  </div>
                  <div class="col-md-3"></div>
                </div>
              {% endfor %}
            {% endif %}
          
        <div class="row">
            {% regroup list_list by team as section_list %}
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Todo Lists</h3>
                  <div class="box-tools pull-right">
                    <div class="has-feedback">
                        {% ifnotequal list_slug "mine" %}
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                                <i class="fa fa-plus"></i> Add new task
                            </button>
                        {% endifnotequal %}
                        {% ifequal auth_ok 1 %}
                            {% ifequal view_completed 0  %}
                                <a class="btn btn-success btn-sm" href="{% url 'todo-completed_tasks' list_id list_slug %}"><i class="fa fa-eye"></i> View completed tasks</a>
                            {% endifequal %}

                            {% ifequal view_completed 1 %}           
                                <a  class="btn btn-primary btn-sm" href="{% url 'todo-incomplete_tasks' list_id list_slug %}"><i class="fa fa-eye"></i> View incomplete tasks</a>
                            {% endifequal %}

                            {% ifequal can_del 1 %}
                                {% ifnotequal list_slug "mine" %}
                                   <a href="{% url 'todo-del_list' list_id list_slug %}" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#DelList"><i class="fa fa-trash"></i> Delete this list</a>
                                {% endifnotequal %}
                            {% endifequal %}
                        {% endifequal %}
                    </div>
                  </div>
                </div>
                <div class="box-body no-padding">
                  <div class="box-body">
                    <form action="" method="POST">{% csrf_token %}
                    {% ifequal view_completed 0  %}
                        <table class="table table-bordered table-striped table-hover" id="incomplete_tasks">
                          <thead>
                            <tr>
                                <th>Done</th>
                                <th>Task</th>
                                <th>Created</th>
                                <th>Due on</th>
                                <th>Owner</th>
                                <th>Assigned</th>
                                <th>Note</th>
                                <th>Comment</th>

                                {% ifequal list_slug "mine" %}
                                <th>List</th>
                                 {% endifequal %}

                                <th>Delete</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for task in task_list %}
                                <tr id="{{ task.id }}">
                                    <td><input type="checkbox" name="mark_done" value="{{ task.id }}" id="mark_done_{{ task.id }}">   </td>
                                    <td><a href="{% url 'todo-task_detail' task.id %}">{{ task.title|truncatewords:20 }}</a></td>
                                    <td>{{ task.created_date|date:"m/d/Y" }}</td>
                                    <td>
                                    {% if task.overdue_status %}<span class="overdue">{% endif %}
                                        {{ task.due_date|date:"m/d/Y" }}
                                    {% if task.overdue_status %}</span>{% endif %}
                                    </td>
                                    <td>{{ task.created_by }}</td>
                                    <td>{{ task.assigned_to }}</td>
                                    <td style="text-align:center;">{% if task.note %}&asymp;{% endif %} </td>
                                    <td style="text-align:center;">{% ifnotequal task.comment_set.all.count 0  %}{{ task.comment_set.all.count }}{% endifnotequal %}

                                    </td>
                                    {% ifequal list_slug "mine" %}
                                    <td><a href="{% url 'todo-incomplete_tasks' task.list.id task.list.slug %}">{{ task.list }}</a></td>
                                    {% endifequal %}

                                    <td><input type="checkbox" name="del_task" value="{{ task.id }}" id="del_task_{{ task.id }}">   </td>
                                </tr>
                            {% endfor %}                   
                          </tbody>
                        </table>
                    {% endifequal %}

                    {% ifequal view_completed 1 %}
                        <table class="table table-bordered table-striped table-hover" id="complete_tasks">
                           <thead>
                            <tr>
                                <th>Undo</th>
                                <th>Task</th>
                                <th>Created</th>
                                <th>Completed on</th>
                                <th>Note</th>
                                <th>Comment</th>
                                {% ifequal list_slug "mine" %}
                                <th>List</th>
                                 {% endifequal %}
                                <th>Delete</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for task in completed_list %}
                                <tr>
                                    <td><input type="checkbox" name="undo_completed_task" value="{{ task.id }}" id="id_undo_completed_task{{ task.id }}">   </td>
                                    <td><a href="{% url 'todo-task_detail' task.id %}">{{ task.title|truncatewords:20 }}</a></td>
                                    <td>{{ task.created_date|date:"m/d/Y" }}</td>
                                    <td>{{ task.completed_date|date:"m/d/Y" }}</td>
                                    <td style="text-align:center;">{% if task.note %}&asymp;{% endif %} </td>
                                    <td style="text-align:center;">{% ifnotequal task.comment_set.all.count 0  %}{{ task.comment_set.all.count }}{% endifnotequal %}

                                    <td><input type="checkbox" name="del_completed_task" value="{{ task.id }}" id="del_completed_task_{{ task.id }}">   </td>
                                </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                    {% endifequal %}
                    <input type="submit" name="deldonetasks" value="Done/Delete"  class="btn btn-warning">
                </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Add new task</h4>
                </div>
                <div class="modal-body">
                    {% ifequal auth_ok 1 %}
                        <form action="" method="POST" class="form-horizontal">
                        {% csrf_token %}

                        {# Only show task adder if viewing a proper list #}
                        {% ifnotequal list_slug "mine" %}                   

                            <div class="box-body">
                                <div class="form-group">
                                    <label for="id_title" class="col-sm-2 control-label">Task:</label> 
                                    <div class="col-sm-10"><input class="form-control" type="text" name="title"/></div>
                                </div>
                                <div class="form-group">
                                    <label for="id_priority" class="col-sm-2 control-label">priority:</label>
                                    <!-- <input type="text" name="priority" id="id_priority"> -->
                                    <div class="col-sm-10">
                                        <select name="priority" id="id_priority" class="form-control">
                                            <option selected="selected" value="">---------</option>
                                            <option value="1">High</option>
                                            <option value="2">Medium</option>
                                            <option value="3">Low</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_due_date" class="col-sm-2 control-label">Due date:</label> 
                                    <div class="col-sm-10"><input class="form-control datePicker" type="text" id="due_date" name="due_date" /></div>
                                </div>
                                <div class="form-group">
                                    <label for="id_assigned" class="col-sm-2 control-label">Assign to:</label> 
                                    <div class="col-sm-10">{% render_field form.assigned_to class+="form-control" %}</div>
                                </div>
                                <div class="form-group">
                                    <label for="id_notify" class="col-sm-2 control-label">Notify*:</label>
                                    <div class="col-sm-10">
                                        <input type="checkbox" checked="checked" name="notify" value="1" id="notify">
                                        <p class="minor">*Email notifications will only be sent if task is assigned to someone besides yourself.</p>
                                    </div>
                                </div>                           
                                <div class="form-group">
                                    <label for="id_note" class="col-sm-2 control-label">Note:</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="note" id="id_note"></textarea>
                                    </div>
                                </div>    
                                <input type="hidden" name="created_by" value="{{ request.user.id }}" id="id_created_by">
                                <input type="hidden" name="list" value="{{ listid }}" id="id_list">
                                <input type="hidden" name="created_date" value="{{ created_date }}" id="id_created_date">
                            </div>

                        {% endifnotequal %}                        

                {% endifequal %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" name="add_task" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

        <div class="modal fade" id="DelList" tabindex="-1" role="dialog" aria-labelledby="DelListLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                
              </div>
            </div>
          </div>
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      {% include "footer.html" %}

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
          <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Home tab content -->
          <div class="tab-pane active" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Recent Activity</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                    <p>Will be 23 on April 24th</p>
                  </div>
                </a>
              </li>
            </ul><!-- /.control-sidebar-menu -->

            <h3 class="control-sidebar-heading">Tasks Progress</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Custom Template Design
                    <span class="label label-danger pull-right">70%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                  </div>
                </a>
              </li>
            </ul><!-- /.control-sidebar-menu -->

          </div><!-- /.tab-pane -->
          <!-- Stats tab content -->
          <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div><!-- /.tab-pane -->
          <!-- Settings tab content -->
          <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
              <h3 class="control-sidebar-heading">General Settings</h3>
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Report panel usage
                  <input type="checkbox" class="pull-right" checked>
                </label>
                <p>
                  Some information about this general settings option
                </p>
              </div><!-- /.form-group -->
            </form>
          </div><!-- /.tab-pane -->
        </div>
      </aside><!-- /.control-sidebar -->
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->

   <!-- Slimscroll -->
    <script src="{% static "css/plugins/slimScroll/jquery.slimscroll.min.js" %}"></script>
    <!-- FastClick -->
    <script src="{% static "css/plugins/fastclick/fastclick.min.js" %}"></script>

    
    <!-- Page Script -->
    <script src="{% static "css/plugins/datatables/jquery.dataTables.min.js" %}"></script>
  <script src="{% static "css/plugins/datatables/dataTables.bootstrap.min.js" %}"></script>
  <script src="{% static "css/plugins/datepicker/bootstrap-datepicker.js" %}"></script>
  <script src="{% static "js/zabuto_calendar.js" %}"></script>
  <!-- Bootstrap 3.3.5 -->
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

    <script>
        $('#due_date').datepicker({
            startDate: '0d',
            autoclose: true,
            clearBtn: true,
            format: 'mm/dd/yyyy',
        });
      
    </script>

   <script>
    $(function () {        
        $('#incomplete_tasks').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true
        });
    });
    </script>
    <script>
     $(function () {        
        $('#complete_tasks').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true
        });
    });
</script>
{% endblock %}