{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content_title %}<h2 class="content-title">Account &raquo; {{ account.user.username }}</h2>{% endblock %}

{% block content %}

{% if form.errors %}
      <div class="alert alert-danger">
          {% for field in form %}
          {{ field.errors }}
          {% endfor %}
      </div> 
      {% endif %}
      <div>
          <!-- <form role="form" class="form-horizontal"> -->
              <fieldset>
                  <form action="{% url 'userena_email_change' user.username %}" enctype="multipart/form-data" method="post" class="form-horizontal">{% csrf_token %}

                      {% for field in form %}
                      
                          <div class="form-group">
                              <label class="col-lg-3 control-label data-row" for="recipient"><span class="data-name">{{field.label_tag}} {% if field.field.required %} * {% endif %} </span></label>
                              <div class="col-lg-7">
                                  
                                  {% render_field field class+="form-control datePicker" %}
                                  <p class="help-block">{{ field.help_text }}</p>
                                  
                              </div>
                          </div>
                        
                      {% endfor %}
                      
                      <input class="btn btn-custom-primary" type="submit" value="{% trans "Save changes" %}"/>
                  </form>
              </fieldset>
          
      </div>
                   

{% endblock %}
