{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}{% trans "Password reset" %}{% endblock %}
{% block content_title %}<h2>{% trans "Your password has been reset" %}</h2>{% endblock %}

{% block content %}
{% url 'userena_signin' as signin_url %}
{% url 'home' as home_url %}
    <link href="{% static "css/plugins/iCheck/square/blue.css" %}" rel="stylesheet">

    <style type="text/css">
        .content-wrapper, .right-side, .main-footer{
            margin-left: 0 !important;
        }
    </style>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
       

        <!-- Main content -->
        <section class="content">

          <div class="col-md-6 col-md-offset-3">
        <div class="login-logo">
            <a href="{% url 'home' %}"><b>{{site_name}}</b>{{SITE_NAME_SHORT}}</a>
        </div><!-- /.login-logo -->
        <div class="box box-success">
            <div class="box-body">
            	<div class="callout callout-success">
                    <h4>Password changed successfully</h4>
                    <p>{% trans "Your password has been reset." %}</p>
                    <p>{% blocktrans %}You can now <a href="{{ signin_url }}">signin</a> with your new password or go back to <a href="{{ home_url }}">home</a> page.{% endblocktrans %}</p>
                </div>           
            </div>
        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->


    

{% endblock %}