{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<link href="{% static "css/profile.css" %}" rel="stylesheet">
{% include "navbar.html" %}


<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-header page-header">
                <h2>{% trans "Reset Password" %}</h2>
            </div>
        </div>         
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-body">
                <div class="main-content">
                    <div class="row">
                        <form action="" method="post">
						 
						    <div class="col-lg-2">
							    {% csrf_token %}
							    {{ form.as_p }}
						   	</div>
						   	<div class="col-lg-1">
						  		<input class="btn btn-custom-primary" type="submit" value="{% trans "Reset password" %}" />
						  	</div>
						</form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
