{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Password changed" %}{% endblock %}
{% block content_title %}<h2>{% trans "Your password has been changed" %}.</h2>{% endblock %}

{% block content %}
{% if messages %}
              {% for message in messages %}
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="alert alert-{{ message.tags }} alert-dismissable col-md-6">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ message }}
                  </div>
                  <div class="col-md-3"></div>
                </div>
              {% endfor %}
            {% endif %}
<p>{% trans "From now on you can use your new password to signin" %}.</p>
{% endblock %}
