{% extends 'base.html' %}
{% load url from future %}
{% load staticfiles %}

{% block content %}  
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    
    <div class="wrapper">

      <!-- Main Header -->
      {% include "header.html" %}
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        {% include "left_menu.html" %}
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Users
            <small>User Details</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">

         <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="main-content">
                                <!-- NAV TABS -->
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#profile-tab"><i class="fa fa-user"></i> Profile</a></li>
                                    <li class=""><a data-toggle="tab" href="#activity-tab"><i class="fa fa-rss"></i> Recent Activity</a></li>
                                    <!-- <li class=""><a data-toggle="tab" href="#settings-tab"><i class="fa fa-gear"></i> Settings</a></li> -->
                                </ul>
                                <!-- END NAV TABS -->
                                
                                <div class="tab-content profile-page">
                                    <!-- PROFILE TAB CONTENT -->
                                    <div id="profile-tab" class="tab-pane profile active">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="user-info-left">
                                                    <img alt="Profile Picture" src="{{ profile.get_mugshot_url }}">
                                                    <h2>{{ profile.user.username }}</h2>
                                                    <div class="contact">                                                        
                                                        <ul class="list-inline social">
                                                            <li>
                                                                <a title="Facebook" href="{{ profile.facebook}}">
                                                                    <i class="fa fa-facebook-square"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a title="Twitter" href="{{ profile.twitter}}">
                                                                    <i class="fa fa-twitter-square"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a title="Google Plus" href="{{ profile.googleplus}}">
                                                                    <i class="fa fa-google-plus-square"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a title="Github" href="{{ profile.github}}">
                                                                    <i class="fa fa-github-square"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        {% if user.username == profile.user.username %}
                                                        <p class="text-center more">
                                                            <a class="btn btn-custom-primary" href="{% url 'userena_profile_edit' user.username %}"><i class="fa fa-edit"></i> Edit Profile</a>
                                                        </p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="user-info-right">
                                                    <div class="basic-info">
                                                        <h3><i class="fa fa-square"></i> Basic Information</h3>
                                                        <p class="data-row">
                                                            <span class="data-name">Username</span>
                                                            <span class="data-value">{{ profile.user.username }}</span>
                                                        </p>
                                                        <p class="data-row">
                                                            <span class="data-name">First name</span>
                                                            <span class="data-value">{{ profile.user.first_name }}</span>
                                                        </p>
                                                        <p class="data-row">
                                                            <span class="data-name">Last name</span>
                                                            <span class="data-value">{{ profile.user.last_name }}</span>
                                                        </p>
                                                        <p class="data-row">
                                                            <span class="data-name">Birth Date</span>
                                                            <span class="data-value">{{ profile.birth_date|date:"d/m/Y" }}</span>
                                                        </p>
                                                        <p class="data-row">
                                                            <span class="data-name">Gender</span>
                                                            <span class="data-value">{{ profile.gender}}</span>
                                                        </p>
                                                        <p class="data-row">
                                                            <span class="data-name">Website</span>
                                                            <span class="data-value"><a href="{{ profile.website}}">{{ profile.website}}</a></span>
                                                        </p>
                                                        <p class="data-row">
                                                            <span class="data-name">Last Login</span>
                                                            <span class="data-value">{{ profile.user.last_login }}</span>
                                                        </p>
                                                        <p class="data-row">
                                                            <span class="data-name">Date Joined</span>
                                                            <span class="data-value">{{ profile.user.date_joined }}</span>
                                                        </p>
                                                    </div>
                                                    <div class="contact_info">
                                                        <h3><i class="fa fa-square"></i> Contact Information</h3>
                                                        <p class="data-row">
                                                            <span class="data-name">Email</span>
                                                            <span class="data-value">{{ profile.user.email }}</span>
                                                        </p>
                                                        <p class="data-row">
                                                            <span class="data-name">Phone</span>
                                                            <span class="data-value">(+216) 22781934</span>
                                                        </p>
                                                        <p class="data-row">
                                                            <span class="data-name">Address</span>
                                                            <span class="data-value">{{ profile.address }}</span>
                                                        </p>
                                                    </div>
                                                    <div class="about">
                                                        <h3><i class="fa fa-square"></i> About Me</h3>
                                                        <p>{{ profile.about }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END PROFILE TAB CONTENT -->

                                    <!-- ACTIVITY TAB CONTENT -->
                                    <div id="activity-tab" class="tab-pane activity">
                                        <ul class="list-unstyled activity-list">
                                            <li>
                                                <i class="fa fa-magic activity-icon activity-icon-blue pull-left"></i>
                                                <p>
                                                    New checkin created : <span class="label label-info">checkin 1</span> <span class="timestamp">12 minutes ago</span>
                                                </p>
                                            </li>
                                            
                                            <li>
                                                <i class="fa fa-thumbs-up activity-icon activity-icon-green pull-left"></i>
                                                <p>
                                                    Checkin  <span class="label label-success">checkin 1</span> compleated<span class="timestamp">December 12</span>
                                                </p>
                                            </li>
                                           
                                        </ul>
                                        <p class="text-center more"><a class="btn btn-custom-primary" href="#">View more <i class="fa fa-long-arrow-right"></i></a></p>
                                    </div>
                                    <!-- END ACTIVITY TAB CONTENT -->

                                    
                                    <!-- END SETTINGS TAB CONTENT -->
                                </div>

                            </div>
                        </div>
                        <!-- /.panel-body -->

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      {% include "footer.html" %}

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
          <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Home tab content -->
          <div class="tab-pane active" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Recent Activity</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                    <p>Will be 23 on April 24th</p>
                  </div>
                </a>
              </li>
            </ul><!-- /.control-sidebar-menu -->

            <h3 class="control-sidebar-heading">Tasks Progress</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Custom Template Design
                    <span class="label label-danger pull-right">70%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                  </div>
                </a>
              </li>
            </ul><!-- /.control-sidebar-menu -->

          </div><!-- /.tab-pane -->
          <!-- Stats tab content -->
          <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div><!-- /.tab-pane -->
          <!-- Settings tab content -->
          <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
              <h3 class="control-sidebar-heading">General Settings</h3>
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Report panel usage
                  <input type="checkbox" class="pull-right" checked>
                </label>
                <p>
                  Some information about this general settings option
                </p>
              </div><!-- /.form-group -->
            </form>
          </div><!-- /.tab-pane -->
        </div>
      </aside><!-- /.control-sidebar -->
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->

   
{% endblock %}