{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}
{% load staticfiles %}

{% block content %}  

    <link href="{% static "css/custom.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{% static "css/plugins/datatables/dataTables.bootstrap.css" %}">


    <div class="wrapper">

      <!-- Main Header -->
      {% include "header.html" %}
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        {% include "left_menu.html" %}
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Page Header     
            <small>Optional description</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">

          <!-- Your Page Content Here -->
<!-- Custom Tabs -->
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#tab_1" data-toggle="tab"><i class="fa fa-th-list fa-fw"></i> List</a></li>
                  <li><a href="#tab_2" data-toggle="tab"><i class="fa fa-table fa-fw"></i> Table</a></li>                  
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="tab_1">
                    <div class="box-body">
                    {% for profile in profile_list %}
                    <div class="col-md-3">
                        <!-- Widget: user widget style 1 -->
                        <div class="box box-widget widget-user">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div class="widget-user-header bg-light-blue-active">
                                <div class="col-sm-6"><h3 class="widget-user-username"><b>{{ profile.user.get_full_name }}</b></h3></div>
                                <div class="col-sm-6 text-right"><h4 class="widget-user-desc"><a class="link-white" href="{% url 'userena_profile_detail' profile.user.username %}">{{ profile.user.username }}</a></h4></div>
                            </div>
                            <div class="widget-user-image">
                                <a class="img-circle" href="{% url 'userena_profile_detail' profile.user.username %}"><img class="img-circle" src="{{ profile.get_mugshot_url }}" alt="User Avatar" /></a>
                            </div>
                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="description-block">
                                            <h5 class="description-header">Team</h5>
                                            <span class="description-text">{{ user.profile.team }}</span>
                                        </div><!-- /.description-block -->
                                    </div><!-- /.col -->
                                    <div class="col-sm-4 border-right">
                                        <div class="description-block">
                                            <h5 class="description-header">Date Joined</h5>
                                            <span class="description-text">{{profile.user.date_joined|date:"d/m/Y"}}</span>
                                        </div><!-- /.description-block -->
                                    </div><!-- /.col -->
                                    <div class="col-sm-4 border-right">
                                        <div class="description-block">
                                            <h5 class="description-header">Last Login</h5>
                                            <span class="description-text">{{profile.user.last_login|date:"d/m/Y"}}</span>
                                        </div><!-- /.description-block -->
                                    </div><!-- /.col -->                                
                                </div><!-- /.row -->
                            </div>
                        </div><!-- /.widget-user -->
                    </div><!-- /.col -->                   

                    {% endfor %}

                    {% if is_paginated %}
                        <div class="pagination">
                            <span class="step-links">
                                {% if page_obj.has_previous %}
                                    <a href="{% url 'userena_profile_list_paginated' page_obj.previous_page_number %}">{% trans 'previous' %}</a>
                                {% endif %}

                                <span class="current">
                                    {% trans 'Page' %} {{ page_obj.number }} {% trans 'of' %} {{ page_obj.paginator.num_pages }}.
                                </span>

                                {% if page_obj.has_next %}
                                    <a href="{% url 'userena_profile_list_paginated'  page_obj.next_page_number %}">{% trans 'next' %}</a>
                                {% endif %}
                            </span>
                        </div>
                    {% endif %}
                  </div>
                  </div><!-- /.tab-pane -->
                  <div class="tab-pane" id="tab_2">
                    <div class="box-header">
                      <h3 class="box-title">Users List</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered table-striped table-hover" id="example2">

                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th>Joined date</th>
                                    <th>Team</th>
                                    <th>Mentor</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for profile in profile_list %}
                                    <tr class="odd gradeX">
                                        <td><a href="{% url 'userena_profile_detail' profile.user.username %}">{{ profile.user.username }}</a></td>
                                        <td>{{ profile.user.first_name }}</td>
                                        <td>{{ profile.user.last_name }}</td>
                                        <td class="center">{{profile.user.date_joined|date:"d/m/Y"}}</td>
                                        <td class="center">{{ user.profile.team }}</td>
                                        <td class="center">{{ user.profile.team.mentor }}</td>
                                    </tr>
                                {% endfor %}                             
                            </tbody>
                        </table>
                    </div>
                  </div><!-- /.tab-pane -->
                  
                </div><!-- /.tab-content -->
             

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      {% include "footer.html" %}

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
          <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Home tab content -->
          <div class="tab-pane active" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Recent Activity</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                    <p>Will be 23 on April 24th</p>
                  </div>
                </a>
              </li>
            </ul><!-- /.control-sidebar-menu -->

            <h3 class="control-sidebar-heading">Tasks Progress</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Custom Template Design
                    <span class="label label-danger pull-right">70%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                  </div>
                </a>
              </li>
            </ul><!-- /.control-sidebar-menu -->

          </div><!-- /.tab-pane -->
          <!-- Stats tab content -->
          <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div><!-- /.tab-pane -->
          <!-- Settings tab content -->
          <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
              <h3 class="control-sidebar-heading">General Settings</h3>
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Report panel usage
                  <input type="checkbox" class="pull-right" checked>
                </label>
                <p>
                  Some information about this general settings option
                </p>
              </div><!-- /.form-group -->
            </form>
          </div><!-- /.tab-pane -->
        </div>
      </aside><!-- /.control-sidebar -->
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->

<script src="{% static "css/plugins/datatables/jquery.dataTables.min.js" %}"></script>

<script src="{% static "css/plugins/datatables/dataTables.bootstrap.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
<!-- SlimScroll -->
<script src="{% static "css/plugins/slimScroll/jquery.slimscroll.min.js" %}"></script>
<!-- FastClick -->
<script src="{% static "css/plugins/fastclick/fastclick.min.js" %}"></script>

   <script>
    $(function () {        
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>
{% endblock %}