{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}  

{% url 'userena_profile_detail' user.username  as my_profile%}

<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
 
    <div class="wrapper">

      <!-- Main Header -->
      {% include "header.html" %}
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        {% include "left_menu.html" %}
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Users
            <small>User Details</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">

          {% if messages %}
              {% for message in messages %}
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="alert alert-{{ message.tags }} alert-dismissable col-md-6">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ message }}
                  </div>
                  <div class="col-md-3"></div>
                </div>
              {% endfor %}
            {% endif %}

          <div class="row">
            <div class="col-md-3">

              <!-- Profile Image -->
              <div class="box box-primary">
                <div class="box-body box-profile">
                  <img class="profile-user-img img-responsive img-circle" src="{{ profile.get_mugshot_url }}" alt="User profile picture">
                  <h3 class="profile-username text-center">{{ profile.user.get_full_name }} ({{ profile.user.username }})</h3>
                  <!-- <p class="text-muted text-center"> Team</p> -->

                  <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                      <b>Date Joined</b> <a class="pull-right">{{profile.user.date_joined|date:"d/m/Y"}}</a>
                    </li>
                    <li class="list-group-item">
                      <b>Last Login</b> <a class="pull-right">{{profile.user.last_login|date:"d/m/Y"}}</a>
                    </li>
                    <li class="list-group-item">
                      <b>Team</b> <a class="pull-right">{{ profile.team }}</a>
                    </li>                    
                  </ul>
                  {% if user.username == profile.user.username %}
                  <a href="{% url 'userena_profile_edit' user.username %}" class="btn btn-primary btn-block"><b>Edit Profile Details</b></a>
                  {% endif %}
                 
                </div><!-- /.box-body -->
              </div><!-- /.box -->

              <!-- About Me Box -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">About Me</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <strong><i class="fa fa-calendar margin-r-5"></i>  Birth date</strong>
                  <p class="text-muted">
                    {{ profile.birth_date|date:"d/m/Y" }}
                  </p>

                  <hr>

                  <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>
                  <p class="text-muted">{{ profile.address }}</p>

                  <hr>

                  <strong><i class="fa fa-map-marker margin-r-5"></i> City</strong>
                  <p class="text-muted">{{ profile.city }}</p>

                  <hr>

                  <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>
                  <p><h5>
                    {% for skill in profile.skills.all %}
                        <span class="label label-primary">{{ skill.name }}</span>
                    {% endfor %}                    
                  </h5></p>

                  <hr>

                  <!-- <strong><i class="fa fa-file-text-o margin-r-5"></i> Social media</strong> -->
                  <div class="text-center">
                    <a herf="{{ profile.facebook}}" class="btn btn-social-icon btn-facebook" data-toggle="tooltip" data-placement="bottom" title="Facebook profile"><i class="fa fa-facebook"></i></a>
                    <a href="{{ profile.github}}" class="btn btn-social-icon btn-github" data-toggle="tooltip" data-placement="bottom" title="Github"><i class="fa fa-github"></i></a>
                    <a href="{{ profile.googleplus}}" class="btn btn-social-icon btn-google" data-toggle="tooltip" data-placement="bottom" title="Google plus profile"><i class="fa fa-google-plus"></i></a>
                    <a href="{{ profile.twitter}}" class="btn btn-social-icon btn-twitter" data-toggle="tooltip" data-placement="bottom" title="Twitter profile"><i class="fa fa-twitter"></i></a>
                    <a href="{{ profile.website}}" class="btn btn-social-icon btn-github" data-toggle="tooltip" data-placement="bottom" title="Website"><i class="fa fa-globe"></i></a>
                  </div>
                  
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
            <div class="col-md-9">
             
                
             <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Profile Details</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="user-info-left">
                                <img alt="Profile Picture" src="{{ profile.get_mugshot_url }}">
                                <h2>{{ profile.user.username }}</h2>
                                <div class="contact">                                                        
                                    <ul class="list-inline social">
                                        <li>
                                            <a title="Facebook" href="{{ profile.facebook}}">
                                                <i class="fa fa-facebook-square"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Twitter" href="{{ profile.twitter}}">
                                                <i class="fa fa-twitter-square"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Google Plus" href="{{ profile.googleplus}}">
                                                <i class="fa fa-google-plus-square"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Github" href="{{ profile.github}}">
                                                <i class="fa fa-github-square"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    {% if user.username == profile.user.username %}
                                    <p class="text-center more">
                                        <a class="btn btn-custom-primary" href="{% url 'userena_profile_edit' user.username %}"><i class="fa fa-edit"></i> Edit Profile</a>
                                    </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="user-info-right">
                                <div class="basic-info">
                                    <h3><i class="fa fa-square"></i> Basic Information</h3>
                                    <p class="data-row">
                                        <span class="data-name">Username</span>
                                        <span class="data-value">{{ profile.user.username }}</span>
                                    </p>
                                    <p class="data-row">
                                        <span class="data-name">First name</span>
                                        <span class="data-value">{{ profile.user.first_name }}</span>
                                    </p>
                                    <p class="data-row">
                                        <span class="data-name">Last name</span>
                                        <span class="data-value">{{ profile.user.last_name }}</span>
                                    </p>
                                    <p class="data-row">
                                        <span class="data-name">Birth Date</span>
                                        <span class="data-value">{{ profile.birth_date|date:"d/m/Y" }}</span>
                                    </p>
                                    <p class="data-row">
                                        <span class="data-name">Gender</span>
                                        <span class="data-value">{{ profile.gender}}</span>
                                    </p>
                                    <p class="data-row">
                                        <span class="data-name">Website</span>
                                        <span class="data-value"><a href="{{ profile.website}}">{{ profile.website}}</a></span>
                                    </p>
                                    <p class="data-row">
                                        <span class="data-name">Last Login</span>
                                        <span class="data-value">{{ profile.user.last_login }}</span>
                                    </p>
                                    <p class="data-row">
                                        <span class="data-name">Date Joined</span>
                                        <span class="data-value">{{ profile.user.date_joined }}</span>
                                    </p>
                                </div>
                                <div class="contact_info">
                                    <h3><i class="fa fa-square"></i> Contact Information</h3>
                                    <p class="data-row">
                                        <span class="data-name">Email</span>
                                        <span class="data-value">{{ profile.user.email }}</span>
                                    </p>
                                   
                                    <p class="data-row">
                                        <span class="data-name">Address</span>
                                        <span class="data-value">{{ profile.address }}</span>
                                    </p>
                                </div>
                                <div class="about">
                                    <h3><i class="fa fa-square"></i> About Me</h3>
                                    <p>{{ profile.about }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PROFILE TAB CONTENT -->

                               
                <!-- END SETTINGS TAB CONTENT -->
            </div>

            </div><!-- /.col -->
          </div><!-- /.row -->


        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      {% include "footer.html" %}

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
          <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Home tab content -->
          <div class="tab-pane active" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Recent Activity</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                    <p>Will be 23 on April 24th</p>
                  </div>
                </a>
              </li>
            </ul><!-- /.control-sidebar-menu -->

            <h3 class="control-sidebar-heading">Tasks Progress</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Custom Template Design
                    <span class="label label-danger pull-right">70%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                  </div>
                </a>
              </li>
            </ul><!-- /.control-sidebar-menu -->

          </div><!-- /.tab-pane -->
          <!-- Stats tab content -->
          <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div><!-- /.tab-pane -->
          <!-- Settings tab content -->
          <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
              <h3 class="control-sidebar-heading">General Settings</h3>
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Report panel usage
                  <input type="checkbox" class="pull-right" checked>
                </label>
                <p>
                  Some information about this general settings option
                </p>
              </div><!-- /.form-group -->
            </form>
          </div><!-- /.tab-pane -->
        </div>
      </aside><!-- /.control-sidebar -->
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->


<script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>   
{% endblock %}